/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: blue($color: #000000);
}

// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET
// CSS RESET

// variabel

$color_nav: #5c7bca;
$color_container2: #1b2c6c;
$contactUs: #edf0f4;
$color_travel: #728dec;
$color_feature: #243735;
$color_callus: #5d4cfa;
$sm: 640px;
$md: 748px;
$lg: 1048px;

header {
  background-color: $color_nav;
  padding: 1px 3px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $color_nav;
  padding: 1px 3px;
  section.container {
    margin: auto;
    nav {
      position:rel;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      ul.bar {
        display: flex;
        box-sizing: border-box;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125px;
          height: 70px;
          font-size: 20px;
          box-sizing: border-box;
          transition: all;
          transition-duration: 0.5s;

          &:hover {
            background-color: gray;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}

main {
  margin-bottom: 20px;
  div.container {
    margin: auto;
    div.judul {
      padding-top: 200px;
      padding-bottom: 25px;
      background-color: black;
      h1 {
        color: white;
        font-weight: bold;
        font-size: 50px;
        text-align: center;

        span {
          color: skyblue;
        }
      }
      p {
        font-weight: bold;
        color: gray;
        padding-top: 10px;
        width: 250px;
        text-align: center;
        font-size: 20px;
        margin: auto;
      }
    }
    div.pembungkusKiriKanan {
      background-color: black;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 60px;
      padding-right: 60px;
      display: flex;

      div.kiri {
        flex: 1;
        flex-wrap: wrap;
        padding-left: 10px;

        div.pembungkusGambar {
          div.gambar {
            width: 700px;
            height: 400px;
            background-size: cover;
            border-radius: 10px;
          }
          .slide {
            display: none;
          }

          .active {
            display: block;
          }
        }
        div.pembungkusButton {
          width: 700px;
          display: flex;
          padding-top: 10px;
          justify-content: space-between;
          button {
            transition: all;
            transition-duration: 0.5s;
            font-weight: bold;
            padding: 20px;
            border-radius: 50%;
            border: 2px solid gray;
            font-size: 20px;
            background-color: white;

            &:hover {
              background-color: black;
              border: 3px solid black;
              color: white;
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }
        div.pembungkusTulisanFoto {
          padding-top: 70px;
          width: 700px;
          text-align: center;

          p.teksLiburan {
            font-style: italic;
            color: gray;
            font-size: 20px;
          }

          div.pembungkusFotoBio {
            display: flex;

            div.foto {
              flex: 0.5;
              display: flex;
              justify-content: end;
              padding-top: 20px;

              div {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-size: cover;
              }
            }

            div.pembungkusTeks {
              flex: 1;
              display: flex;
              align-items: center;
              text-align: start;

              div.teks {
                padding-left: 20px;
                width: 200px;
                text-align: center;
                font-size: 25px;
                color: white;
                font-weight: bold;
              }
            }
          }
        }
      }
      div.kanan {
        flex: 0.5;

        div.pembungkusKotak {
          background-color: $contactUs;
          border-radius: 25px;
          padding-bottom: 100px;
          padding-left: 50px;
          padding-right: 50px;

          div.teksContact {
            padding-top: 50px;
            padding-bottom: 70px;
            text-align: center;
            h1 {
              font-weight: bold;
              font-size: 25px;
              padding-bottom: 10px;
            }
            p {
              font-weight: bold;
              color: gray;
              font-size: 18px;
            }
          }
          div.pembungkusForm {
            label {
              font-size: 20px;
              font-weight: bold;
            }
            input {
              margin-top: 10px;
              margin-bottom: 10px;
              border-radius: 10px;
              border: 2px solid gray;
              width: 95%;
              padding: 15px 10px;
              font-size: 17px;
              font-weight: bold;

              &:focus {
                border: 2px solid gray;
                outline: none;

                box-shadow: 0 0 5px dodgerblue; /* Efek bayangan saat dipilih */
              }
            }

            select {
              margin-top: 10px;
              margin-bottom: 10px;
              border-radius: 10px;
              border: 2px solid gray;
              width: 95%;
              padding: 15px 10px;
              font-size: 17px;
              font-weight: bold;

              &:focus {
                outline: none; /* Menghapus outline bawaan (jika ada) */
                border-color: dodgerblue; /* Warna border ketika dipilih */
                box-shadow: 0 0 5px dodgerblue; /* Efek bayangan saat dipilih */
              }
            }
          }
          div.pembungkusButton {
            button {
              width: 100%;
              background-color: black;
              color: white;
              font-weight: bold;
              font-size: 20px;
              border-radius: 50px;
              margin-top: 80px;
              padding: 10px;
              transition: all;
              transition-duration: 1s;

              &:hover {
                background-color: gray;
                border: 3px solid gray;
                cursor: pointer;
                color: black;
              }
            }
          }
        }
      }
    }
    div.containerPembungkusUse {
      padding: 10px 0px 250px 80px;
      height: 100px;
      background-color: black;

      div.pembungkusUse {
        width: 50%;

        div.teksUse {
          width: 95%;
          padding: 0px 0px 0px 40px;

          h1 {
            font-weight: bold;
            font-size: 20px;
            color: white;
          }
        }

        div.nomorTeks {
          width: 80%;
          display: flex;
          flex-wrap: wrap;
          padding-top: 20px;

          div.nomor {
            flex: 0.3;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
              font-weight: bold;
              border-radius: 50%;
              padding: 15px;
              font-size: 22px;
              background-color: whitesmoke;
            }
          }
          div.teks {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            p {
              font-size: 18px;
              color: gray;
              font-weight: bold;
            }
          }
        }
      }
    }

    // PACKAGES
    section.ourPackages {
      margin: auto;
      background-color: whitesmoke;
      div.teksPackages {
        padding-bottom: 40px;
        h1 {
          font-size: 50px;
          font-weight: bold;
          text-align: center;
          padding: 100px 0px;
        }
      }
      div.pembungkusPackages {
        padding: 20px 0px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        div.pembungkusCard {
          padding-left: 80px;
          padding-right: 60px;

          div.pembungkusHover {
            background-size: cover;
            padding-top: 20px;
            padding-bottom: 30px;
            transition: all;
            padding-left: 20px;
            transition-duration: 1s;
            border-radius: 10px;
            justify-content: center;
            flex-direction: column;
            max-width: 300px;
            flex-wrap: wrap;
            margin-bottom: 130px;
            transition: all;
            transition-duration: 1s;

            &:hover {
              background-color: black;

              div.pembungkusSvgKota {
                h1 {
                  color: white;
                }
              }
              p {
                color: white;
              }
            }

            div.pembungkusSvgKota {
              display: flex;
              div.svg {
                width: 50px;
                height: 50px;
                background-size: cover;
                display: flex;
              }
              h1 {
                font-size: x-large;
                font-weight: bold;
                color: black;
                display: flex;
                align-items: center;
              }
            }

            p {
              max-width: 350px;
              padding-top: 20px;
              line-height: 1.5;
              color: black;
            }
          }
        }
      }
    }
  }
}

// Call us
section.callUs {
  div.container {
    padding: 100px 0px;
    background-color: $color_callus;

    div.teksTunggu {
      padding-bottom: 30px;
      h1.tunggu {
        margin: auto;
        max-width: 300px;
        font-weight: bold;
        font-size: 40px;
        color: white;
        text-align: center;
      }
      h1.hubungi {
        margin: auto;
        max-width: 500px;
        color: white;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
      }
    }

    div.teksJelajahi {
      max-width: 600px;
      margin: auto;
      padding-bottom: 70px;
      p {
        text-align: center;
        font-size: 20px;
        color: white;
      }
    }
    div.button {
      text-align: center;
      height: 100px;

      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        color: black;

        h1 {
          background-color: #1aab17;
          font-size: 40px;
          font-weight: bold;
          padding: 20px 70px 20px 70px;
          max-width: 200px;
          border-radius: 20px;
          transition: all;
          transition-duration: 1s;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
div.pembatas {
  background-color: gray;
  padding: 30px;
}

div.containerCopy {
  padding: 40px 0px 40px 0px;
  background-color: black;
  div.copy {
    h1 {
      max-width: 200px;
      text-align: center;
      color: white;
      font-size: 15px;
      margin: auto;

    }
    

  }
}
